<!-- _includes/portfolio.html -->
<div class="portfolio">
  <h2>Vaccination</h2>
  <ul>
    <li>
      <strong>PHM - Vaccination</strong> <a href="https://github.com/APB-FLUX/farmaflux-pub?tab=readme-ov-file#proj-phm-vaccination">PHM - Vaccination</a>
      <p>PHM - Vaccination</p>
    </li>
    <li>
      <strong>PHM - Vaccination</strong> <a href="https://github.com/APB-FLUX/farmaflux-pub?tab=readme-ov-file#proj-phm-vaccination">PHM - Vaccination</a>
      <p>PHM - Vaccination</p>
    </li>
    <!-- Add more projects as needed -->
  </ul>
</div>
